{%extends 'poultry_b/base_b.html'%}

{%load crispy_forms_tags%}
{%block head%}Necessities Overview{%endblock%}

{%block content%}




 <div class="container-fluid">

 <div class="row">
  <div class="col-md-8 offset-2">
      <hr class="text-danger">
      <div class="row">
          <div class="col-7">
               <h3>Necessities Overview
      <i>
               <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-house-up-fill text-danger" viewBox="0 0 16 16">
  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.854 1.5 1.5a.5.5 0 0 1-.708.708L13 11.707V14.5a.5.5 0 1 1-1 0v-2.793l-.646.647a.5.5 0 0 1-.708-.707l1.5-1.5a.5.5 0 0 1 .708 0Z"/>
  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
  <path d="m8 3.293 4.712 4.712A4.5 4.5 0 0 0 8.758 15H3.5A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
</svg>
      </i>
               </h3>
          </div>
          <div>{%include 'poultry/message.html'%}</div>
          <div class="col-3">
              <form method="get" class="d-flex align-self-right form-inline ml-3">
              {%csrf_token%}
          <div class="form-group mx-1">
    <label class="sr-only">Search</label>
    <input type="date" class="form-control" id="inputPassword2" name="date">
  </div>
  <button type="submit" class="au-btn btn btn-sm btn-danger rounded-pill my-2">Filter</button>
</form>
          </div>
      </div>


      </h1>




   {%if queryset and date%}

   <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Feed Description</th>
      <th scope="col">Feed Quantity</th>
       <th scope="col">Date</th>
        {%if user.is_superuser%}
         <th scope="col">Action</th>
        {%endif%}


    </tr>
  <hr class="text-danger">
  </thead>
  <tbody>
   {%for rows in queryset%}
    <tr>
       <td>{{rows.id}}</td>
       <td>{{rows.necessities_description}}</td>
        <td>₦{{rows.necessities_cost}}</td>
       <td>{{rows.date|date:"D d M"}}</td>
         {%if user.is_superuser%}
        <td><a href="{%url 'delete_necessities_b' rows.id%}" class="btn btn-sm btn-primary rounded-pill">Delete</a></td>

         {%endif%}



    </tr>
    {%endfor%}

  </tbody>
</table>
</div>
     <div class="col-md-4">
   <div class="overview-wrap">
      <h2 class="title-1"></h2>
      <a href="{%url 'necessities_b'%}"><button class="btn au-btn btn-sm btn-danger rounded-pill my-3">
      <i class="zmdi zmdi-plus"></i>add necessities</button></a>

 </div>
    </div>
     <div class="col-md-2">
      <a href="{%url 'necessities_overview_b'%}" class="btn au-btn btn-sm btn-danger rounded-pill my-3">Refresh</a>
         </div>

</div>
  </div>
      {%elif queryset.count == 0%}

   <h3 class="my-2">No Data Found</h3>


<div class="col-md-2">
      <a href="{%url 'necessities_overview_b'%}" class="btn au-btn btn-sm btn-danger rounded-pill my-3">Refresh</a>
</div>

{%else%}

   <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Feed Description</th>
      <th scope="col">Feed Quantity</th>
       <th scope="col">Date</th>
        {%if user.is_superuser%}
         <th scope="col">Action</th>
        {%endif%}


    </tr>
  <hr class="text-danger">
  </thead>
  <tbody>
   {%for rows in necessities%}
    <tr>
       <td>{{rows.id}}</td>
       <td>{{rows.necessities_description}}</td>
        <td>₦{{rows.necessities_cost}}</td>
       <td>{{rows.date|date:"D d M"}}</td>
        {%if user.is_superuser%}
        <td><a href="{%url 'delete_necessities_b' rows.id%}" class="btn btn-sm btn-primary rounded-pill">Delete</a></td>
         {%endif%}



    </tr>
    {%endfor%}

  </tbody>
</table>
</div>
     <div class="col-md-4">
   <div class="overview-wrap">
      <h2 class="title-1"></h2>
      <a href="{%url 'necessities_b'%}"><button class="btn au-btn btn-sm btn-danger rounded-pill my-3">
      <i class="zmdi zmdi-plus"></i>add necessities</button></a>

 </div>
    </div>

</div>
  </div>
{%endif%}

{%endblock%}
