{%extends 'poultry/base.html'%}

{%load crispy_forms_tags%}
{%block head%}Imprest{%endblock%}

{%block content%}


 <div class="container-fluid">
                        <div class="row">
                            <div class="col-6 offset-3">
                            <div>{%include 'poultry/message.html'%}</div>
                                <hr>
                                <h1>New Imprest<i>
           <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-capsule text-danger" viewBox="0 0 16 16">
         <path d="M1.828 8.9 8.9 1.827a4 4 0 1 1 5.657 5.657l-7.07 7.071A4 4 0 1 1 1.827 8.9Zm9.128.771 2.893-2.893a3 3 0 1 0-4.243-4.242L6.713 5.429z"/>
         </svg>
      </i></h1>
                                <hr>
                                <form method="post" class="shadow">
                                    {%csrf_token%}
                                     {{form|crispy}}
                                    <div class="d-grid">
                                    <button type="submit" class="btn btn-danger btn-block rounded-pill my-3">Submit</button>
                                        </div>
                                </form>
                            </div>
                                </div>
                            </div>
                        </div>



{%endblock%}
